#password-form {
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #f0f0f0;
}

.form-message {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
}

.form-message.success {
  color: #2ecc71; 
}

.form-message.error {
  color: var(--primary); 
}