#search-heading {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0f0f0;
}

.error-message {
  font-size: 1.1rem;
  color: #717171;
  text-align: center;
  padding: 4rem 0;
}